<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project using Mongodb and Nodejs</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <style>
      h1 {
  padding-top: 2px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-left: 80px;
}
     .haritha{
         padding: 200px;
     }
     body{
         background-color: rgb(22, 107, 15);
       
     };
            </style>
  </head>
        <div class="container">
            <div class="haritha">
            <h2><center><b><u>Enter Your Details Below...</u></b></center></h2><br><br>
            <h1>
            <form method="POST">
              <div class="form-group">
                <label for="name">First Name:</label>
                <input type="text" class="form-control" id="fname" placeholder="First name" name="fname">
              </div>
              <div class="form-group">
                  <label for="name">Last Name:</label>
                  <input type="text" class="form-control" id="lname" placeholder="Last name" name="lname">
                </div>
                <div class="form-group">
                    <label for="name">Address:</label>
                    <input type="text" class="form-control" id="address" placeholder="Full name" name="address">
                  </div>
              <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Email address" name="email">
            </div>
                  <div class="form-group">
                        <label for="email">Phone number:</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone number" name="phone">
                      </div>
              <center><button type="submit" class="btn btn-red"onclick="javascript:alert('Submitted')">Submit</button></center>
            </form></h1>
            <center><a href="display" class="btn btn-primary">Display All Entries</a></center>
          </div>
          </div>
          <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
          <script src=".js/popper.min.js"></script>
          <script src="js/bootstrap.min.js"></script>
          <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
          <script src="js/feather.min.js"></script>
          <script>
            feather.replace()
          </script>
    </body>
</html>